a {
    text-decoration: none;
    vertical-align: middle;
}

img {
    width: 50px;
    vertical-align: middle;
}

footer {
    display: table-row;
    grid-gap: 20px;
    height: 40px;
    bottom: 0;  
    width: 75%;
    position: fixed;
}